{% extends 'base/base.html' %}

{% block conteudo %}

<div class="container px-4 px-lg-5">
    
{% include 'parciais/_messange.html' %}

<div class="custom-file d-flex justify-content-center">
    <form method="get">
        <div class="mt-4 mb-4">
            {{ filter.form }}
            <button class="btn btn-dark" type="submit">Buscar</button>,
        </div>
    </form>
</div>
{% if inventario %}

<div class="table-responsive">
    <table class="table table-striped">
        <tr>
            <th scope="col">Fabricante</th>
            <th scope="col">Modelo</th>
            <th scope="col">Cor</th>
            <th scope="col">Plano</th>
            <th scope="col">Quantidade</th>
            <th scope="col">preco</th>
        </tr>
        {% for dado in inventario %}

        <tr>
            <td>{{dado.manufacturer|title}}</td>
            <td>{{dado.model|title}}</td>
            <td>{{dado.color|title}}</td>
            <td>{{dado.carrier_plan_type}}</td>
            <td>{{dado.quantity}}</td>
            <td>{{dado.price}}</td>
        </tr>
        {% endfor %}
    </table>
    </div>
</div>
</div>
{% include 'parciais/_pagination.html' %}
{% else %}

<div class="custom-file d-flex justify-content-center">
    <h1>Não ha produtos adicionados, 
    <a href="{% url 'input_form'%}">
        "clique aqui!"
    </a>
    </h1>
        {% endif %}
{%endblock%}
